@media (max-width: 576px) {
    .card {
        width: 32.7rem;
        height: 78rem;
        flex-direction: column-reverse;
    }

    .card .image {
        width: 32.7rem;
        height: 24rem;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    .info {
        margin: 4rem 3.1rem 3.2rem;
        text-align: center;
    }

    .info .title {
        font-size: 2.8rem;
        margin-bottom: 1.6rem;
    }

    .info .description {
        margin: 0 0 4rem;
    }

    .info .stats-area {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .card {
        width: 60rem;
        height: 85rem;
        flex-direction: column-reverse;
    }

    .card .image {
        width: 100%;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    .info {
        margin: 0 3.1rem 8rem;
    }

    .info .title {
        font-size: 3.6rem;
        margin: 3rem 0;
    }

    .info .description {
        font-size: 1.8rem;
        margin: 0 7rem 5rem 0;
    }

    .info .stats-area {
        justify-content: left;
        gap: 10rem;
    }
}