@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

.container {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111rem;
    height: 44.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 2rem 2rem -1rem rgba(23, 25, 41, 0.20);
}

.info {
    margin: 7.1rem 9.5rem 5.9rem 7.2rem;
}

.info .title {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.6rem;
    line-height: 4.4rem;
    margin-bottom: 2.5rem;
}

.info .title span {
    color: var(--accent-color);
}

.info .description {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.75;
    margin-right: 1.5rem;
    margin-bottom: 7.2rem;
}

.info .stats-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .stats-area .stats .count {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--text-color);
}

.info .stats-area .stats .type {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 2.5rem;
    opacity: 0.6;
    letter-spacing: 0.1rem;
}

.card .image {
    border-radius: 0 0.8rem 0.8rem 0;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--accent-color));
}